{% extends 'layouts/forum.html' %}

<!--===========LOADS=============-->
<!--===========BLOCKS=============-->
{% block title %}
    user
{% endblock title %}


{% block description %}
    description
{% endblock description %}
    

{% block keywords %}
    keywords
{% endblock keywords %}

{% block extra %}
    {{ form.media }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'django_ckeditor_5/dark_theme.css' %}">

{% endblock %}
<!--===========CONTENT=============-->

{% block data %}
<div
    x-data="{
        replyTo: null,
        replyAuthor: null,
        editPostId: {{ edit_post_id|default:'null' }},
        open_edit: {{ edit_post_id|yesno:'true,false' }},
        open: false,
        openReply(postId, author, profile) {
            this.replyTo = postId;
            this.replyAuthor = author;
            this.open = true;

        },
        closeReply() {
            this.replyTo = null;
            this.replyAuthor = null;
            this.open = false;
        }
    }"
>
<ul class="list">
<li class="not-lg:flex not-lg:flex-col-reverse list-row">
    <div class="not-lg:w-full stats bg-base-300 shadow">
        <div class="stat">
            <div class="stat-title">Популярность темы</div>
            <div class="stat-value flex flex-col items-center p-4">
                <div class="radial-progress text-primary" style="--value:{{topic.popularity_percent}}; --size:8rem; --thickness:0.5em" aria-valuenow="{{topic.popularity_percent}}" role="progressbar">{{topic.popularity_percent}}%</div>
                <span>{{topic.likes_count}}<i class="fa-solid fa-heart"></i></span>
            </div>
            {% comment %} <div class="stat-desc">21% more than last month</div> {% endcomment %}
        </div>
    </div>
    <div>
        <ul class="list bg-base-300 rounded-box shadow hover:bg-base-200 transition-colors duration-300">
            <li class="list-row">
                <div class="text-4xl">
                    {{category.icon|safe}}
                </div>
                <a href="{% url 'category' category.slug %}">
                    <div class="text-neutral-content text-2xl font-semibold">
                        {{category.name}} 
                        {% if not category.visible %}
                        <span class="text-warning text-sm">[Скрыто]</span>
                        {% endif %}
                    </div>
                    <div>{{category.description}}</div>
                </a>
            </li>
            <li class="list-row pl-10 bg-base-100">
                <div class="text-4xl">
                    <i class="{{topic.icon}}"></i>
                </div>
                <div>
                    <div class="text-neutral-content text-2xl font-semibold">{{topic.title}}</div>
                    <div>
                        {% if not topic.visible %}
                        <span class="text-warning text-sm">[Скрыто]</span>
                        {% endif %}
                        {% if topic.pinned %}
                        <span class="text-info text-sm">[Закреплено]</span>
                        {% endif %}
                        {% if topic.closed %}
                        <span class="text-error text-sm">[Тема закрыта]</span>
                        {% endif %}
                    </div>
                </div>
                <div class="dropdown dropdown-end" x-data="{open:false}">
                    <button class="btn btn-square btn-ghost" @click="open = !open">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <ul class="menu menu-sm dropdown-content bg-base-200 p-4 rounded-box w-52" x-cloak x-show="open" x-transition @click.outside="open=false">
                        {% if flags.can_close_topic %} 
                            {% if not topic.closed %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'close' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Закрыть тему</button>
                                    </form>
                                </li>
                            {% else %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'unclose' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Открыть тему</button>
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if flags.can_hide_topic %}
                            {% if topic.visible %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'hide' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Скрыть</button>
                                    </form>
                                </li>
                            {% else %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'show' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Показать</button>
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if flags.can_pin_topic %}
                            {% if not topic.pinned %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'pin' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Закрепить</button>
                                    </form>
                                </li>
                            {% else %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'unpin' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Открепить</button>
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if flags.can_delete_topic %}
                            <li><button class="" onclick="delete_topic_modal_{{ topic.id }}.showModal()">Удалить</button></li>
                        {% endif %}
                    </ul>
                    <dialog id="delete_topic_modal_{{ topic.id }}" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg text-error">
            Удалить тему навсегда?
        </h3>

        <p class="py-4 text-sm opacity-80">
            Это действие нельзя отменить.
            Тема будет удалёна навсегда.
        </p>

        <div class="modal-action">
            <!-- Отмена -->
            <form method="dialog">
                <button class="btn btn-ghost">
                    Отмена
                </button>
            </form>

            <!-- Подтверждение -->
            <form
                method="POST"
                action="{% url 'topic_edit' category.slug topic.id 'delete' %}">
                {% csrf_token %}
                <button class="btn btn-error" onclick="create_topic_modal.showModal()">
                    Да, удалить
                </button>
            </form>
        </div>
    </div>
</dialog>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <ul class="list bg-base-300 rounded-box shadow">
            <li class="list-row">
                <div class="text-neutral-content text-2xl font-semibold">Автор темы</div>
            </li>
            <li class="list-row">
                <div class="avatar avatar-online">
                    <img src="{{topic.author.profile.avatar.url}}" class="aspect-square size-24 rounded-full"/>
                </div>
                <div>
                    <a href="{% url 'user' topic.author.username %}" class="text-xl">
                        <div class="tooltip" data-tip="Профиль">
                        <div>{{topic.author.profile.displayname}}</div>
                        {% if topic.author.groups.all|length > 0 %}
                            <div class="text-xs uppercase font-semibold opacity-80">{{topic.author.groups.first}}</div>
                        {% endif %}
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</li>
</ul>
<ul class="list bg-base-100 rounded-box shadow-sm">
        <li class="p-4 pb-2 text-sm opacity-60 breadcrumbs">
            <ul>
                <li><a href="{% url 'forum' %}">Форум</a></li>
                <li><a href="{% url 'category' category.slug %}">{{category.name}}</a></li>
                <li>{{topic.title}}</li>
            </ul>
        </li>
{% if posts|length > 0 %}
        {% for post in posts %}
            <li id="post-id-{{post.obj.id}}" class="list-row">
                <div class="avatar {% if post.obj.author.profile.is_online %} avatar-online {% else %} avatar-offline {% endif %}"><img src="{{post.obj.author.profile.avatar.url}}" class="aspect-square size-12 bg-base-100 rounded-full"/></div>
                <div>
                    <a href="{% url 'user' post.obj.author.username %}">
                        <div class="tooltip" data-tip="Профиль">
                            <div>{{post.obj.author.profile.displayname}}</div>
                        
                        {% if post.obj.author.groups.all|length > 0 %}
                        <div class="text-xs uppercase font-semibold opacity-80">{{post.obj.author.groups.first}}</div>
                        {% endif %}
                        </div>
                    </a>
                    {% if post.obj.pinned or not post.obj.visible or post.obj.deleted %}
                            <br/>
                            <span class="text-xs">
                                {% if post.obj.pinned %}
                                    <span class="text-info">[Закреплен]</span>
                                {% endif %}
                                {% if not post.obj.visible %}
                                    <span class="text-warning">[Скрыт]</span>
                                {% endif %}
                                {% if post.obj.deleted %}
                                    <span class="text-error">[Удален]</span>
                                {% endif %}
                            </span>
                        {% endif %}
                </div>
                <div class="list-col-wrap">
                    <div class="list-row border-b-0" x-show="open_edit && editPostId === {{post.obj.id}}">
                        <template x-if="open_edit && editPostId === {{ post.obj.id }}" class="w-full">
                            <div class="mt-3" class="px-10">
                                {% include "widgets/editor.html" %}
                            </div>
                        </template>
                    </div>
                    <div class="post-content" x-show="editPostId !== {{ post.obj.id }}">
                        {% if post.obj.parent %}
                            <i>Ответ пользователю: <a href="{% url 'user' post.obj.parent.author.username %}" class="link link-hover">{{post.obj.parent.author.profile.displayname}}</a></i>
                            <blockquote class="line-clamp-6">
                                {{post.obj.parent.content|safe}}
                            </blockquote>
                        {% endif %}
                        {{post.obj.content|safe}}
                    </div>
                    <div class="flex w-full space-x-4 pt-5 items-center" x-data="{
                                likes: {{ post.obj.likes_count }},
                                liked: {{ post.obj.is_liked|yesno:'true,false' }}
                            }">
                        <label class="swap btn">
                            <input type="checkbox"
                            data-category-slug="{{category.slug}}"
                            data-topic-id="{{topic.id}}"
                            data-post-id="{{post.obj.id}}"
                            x-model="liked"
                            @change="likes += liked ? 1 : -1"/>
                            <i class="swap-off fa-regular fa-thumbs-up"></i>
                            <i class="swap-on fa-solid fa-thumbs-up"></i>
                            <span class="ml-6" x-text="likes"></span>
                        </label>
                        <button class="btn" @click="openReply({{ post.obj.id }}, '{{ post.obj.author.profile.displayname }}')"><i class="fa-solid fa-comment"></i> Ответить</button>
                        <a class="btn"><i class="fa-solid fa-flag"></i> Пожаловаться</a>
                        <span class="ml-auto">
                            {% if post.obj.edited %}
                                <span class="text-accent text-xs">[Изменен]</span>
                            {% endif %}
                            {{post.obj.created_at}}
                        </span>
                    </div>
                </div>
                {% comment %} <label class="swap btn btn-square btn-ghost">
                    <input type="checkbox"/>
                    <i class="swap-off fa-regular fa-heart"></i>
                    <i class="swap-on fa-solid fa-heart"></i>
                </label> {% endcomment %}
                <div class="dropdown dropdown-end" x-data="{open:false}">
                    <button class="btn btn-square btn-ghost" @click="open = !open">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <ul class="menu menu-sm dropdown-content bg-base-200 p-4 rounded-box w-52" x-cloak x-show="open" x-transition @click.outside="open=false">
                        {% if flags.can_hide_post %}
                            {% if post.obj.visible %}
                                <li>
                                    <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'hide' %}">
                                        {% csrf_token %}
                                        <button class="">
                                            Скрыть
                                        </button>    
                                    </form>
                                </li>
                            {% else %}
                                <li>
                                    <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'show' %}">
                                        {% csrf_token %}
                                        <button class="">
                                            Показать
                                        </button>    
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if flags.can_pin_post %}
                            {% if post.obj.pinned %}
                                <li>
                                    <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'unpin' %}">
                                        {% csrf_token %}
                                        <button class="btn-secondary w-full" title="Открепить">
                                            Открепить
                                        </button>    
                                    </form>
                                </li>
                            {% else %}
                                <li>
                                    <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'pin' %}">
                                        {% csrf_token %}
                                        <button class="btn-secondary w-full" title="Закрепить">
                                            Закрепить
                                        </button>    
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                               
                        {% if flags.can_edit_post %}
                            <li>
                                <a @click="open_edit = !open_edit" href="{% url 'topic' category.slug topic.id %}?edit={{post.obj.id}}#post-id-{{post.obj.id}}">
                                        Изменить
                                </a>
                            </li>
                        {% endif %}
                        {% if flags.can_delete_post and not post.obj.deleted %}
                            <li>
                                <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'delete' %}">
                                    {% csrf_token %}
                                    <button class="">
                                        Удалить
                                    </button>    
                                </form>
                            </li>
                        {% endif %}
                        {% if flags.can_delete_post and flags.can_really_delete_post %}
                            <li>
                                <button type="button"
                                        class=""
                                        onclick="delete_post_modal_{{ post.obj.id }}.showModal()">
                                    Удалить навсегда
                                </button>    
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li class="list-row flex flex-col" x-show="open">
                <div x-show="open" class="text-sm opacity-70 mb-1 px-10 pt-10">
                    Ответ пользователю <span x-text="replyAuthor"></span>
                </div>
                <template x-if="open && replyTo === {{ post.obj.id }}" class="px-10">
                    <div class="mt-3" class="px-10">
                        {% include "widgets/editor.html" %}
                    </div>
                </template>
            </li>
            <dialog id="delete_post_modal_{{ post.obj.id }}" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg text-error">
            Удалить пост навсегда?
        </h3>

        <p class="py-4 text-sm opacity-80">
            Это действие нельзя отменить.
            Пост будет удалён навсегда.
        </p>

        <div class="modal-action">
            <!-- Отмена -->
            <form method="dialog">
                <button class="btn btn-ghost">
                    Отмена
                </button>
            </form>

            <!-- Подтверждение -->
            <form
                method="POST"
                action="{% url 'post' category.slug topic.id post.obj.id 'true_delete' %}">
                {% csrf_token %}
                <button class="btn btn-error">
                    Да, удалить
                </button>
            </form>
        </div>
    </div>
</dialog>
        {% endfor %}
    
{% else %}
    <li class="list-row">Эта тема пока пуста, напиши первый пост, не стесняйся</li>
{% endif %}
    <li class="list-row flex">
        {% if flags.is_auth and flags.can_post%}
            {% if not topic.closed or flags.can_post_closed %}
                <template x-if="!open && !open_edit" class="w-full">
                    <div class="list-row flex w-full">
                        {% include 'widgets/editor.html' %} 
                    </div>
                </template>
                {% comment %} <form method="post" enctype="multipart/form-data" class="w-full max-w-none">
                    {% csrf_token %}
                    <div class="p-4 w-full">
                        {{ form.content }}
                    </div>
                    <p class="text-sm px-4 text-secondary">Перед тем как что-то написать, ознакомьтесь с правилами форума во избежание автоматической блокировки</p> 
                    <div class="flex p-4 space-x-4">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                    
                </form> {% endcomment %}
            {% elif topic.closed and not flags.can_post_closed %}
                <div class="p-4">
                    Это обсуждение закрыто администратором 
                </div>
            {% endif %}
        {% elif not flags.is_auth %}
            <div class="p-4">
                <a href="{% url 'login' %}" class="link link-hover link-secondary">Войди</a> <span>чтобы оставлять сообщения на форуме</span>
            </div>
        {% elif not flags.can_post %}
            <div class="p-4">
                Администратор запретил вам оставлять сообщения на форуме 
            </div>
        {% endif %}
    </li>
</ul>
<div class="flex items-center justify-between p-2">
    Посты: {{posts_count}} • Страница {{posts.number}} из {{posts.paginator.num_pages}}
</div>
<div class="p-8 flex items-center justify-center">
    {% if posts.paginator.num_pages > 1 %}
    <div class="join bg-base-100">
        {% if posts.number > 3 %}
            <div class="tooltip" data-tip="В начало">
                <a href="?page=1"
                class="join-item btn btn-square btn-outline btn-primary"
                >
                    <i class="fa-solid fa-angles-left"></i>
                </a>
            </div>
        {% endif %}
        {% if posts.has_previous %}
            <div class="tooltip" data-tip="Назад">
                <a href="?page={{posts.previous_page_number}}" class="join-item btn btn-square btn-outline btn-primary"><i class="fa-solid fa-angle-left"></i></a>
            </div>
        {% endif %}
        {% for num in posts.paginator.page_range %}
            {% if num == posts.number %}
                <span class="join-item btn btn-square btn-primary btn-active">
                    {{ num }}
                </span>
            {% elif num > posts.number|add:"-3" and num < posts.number|add:"3" %}
                <a href="?page={{ num }}"
                class="join-item btn btn-square btn-outline btn-primary">
                    {{ num }}
                </a>
            {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <div class="tooltip" data-tip="Вперед">
                <a href="?page={{ posts.next_page_number }}" class="join-item btn btn-square btn-outline btn-primary">
                    <i class="fa-solid fa-angle-right"></i>
                </a>
            </div>
        {% endif %}
        {% if posts.number < posts.paginator.num_pages|add:"-2" %}
            <div class="tooltip" data-tip="В конец">
                <a href="?page={{ posts.paginator.num_pages }}"
                class="join-item btn btn-square btn-outline btn-primary">
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
        {% endif %}
    </div>
    {% endif %}
</div>

    {% comment %} <div class="tb-block flex-center-between">
        <div class="flex-center-between space-x-2">
            <i class="fa-solid fa-comment-dots text-neutral-400 text-2xl pr-4"></i>
            <a href="{% url 'forum' %}" class="text-neutral-400 hover:text-neutral-600 hover:underline h-full">Форум</a>
                <span class="select-none text-center text-neutral-500">/</span>
            <a href="{% url 'category' cat_slug=category.slug %}" class="hover:underline hover:text-neutral-600 text-neutral-400">{{category.name}}</a>
                <span class="select-none text-center text-neutral-500">/</span>
            <a href="{% url 'topic' cat_slug=category.slug topic_id=topic.id %}" class="text-neutral-400 hover:text-neutral-600 hover:underline">{{topic.title}}</a>
        </div>
        <div class="flex items-center space-x-4">
            <a href="#" class="btn-trans text-xl"><i class="fa-solid fa-magnifying-glass"></i></a>
            <div class="w-10 h-10 bg-transparent rounded-full overflow-hidden hover:border hover:border-neutral-600">
                <a  href="{% url 'user' topic.author.username %}" class="w-full h-full">
                    <img src="{{topic.author.profile.avatar.url}}" class="w-full h-full object-cover"/>
                </a>
            </div>
        </div>
    </div>
    <div class="text-neutral-50 flex items-center justify-between p-4 h-32">
        <div class="flex flex-col h-full justify-center space-y-4">
            <div class="text-2xl font-bold">
                {% if topic.pinned%}<i class="fa-solid fa-thumbtack pr-4"></i>{% endif %}{{topic.title}} 
            </div>
            <div class="text-neutral-400">
            <span>Автор: <a href="{% url 'user' topic.author.username %}" class="text-neutral-50 hover:underline cursor-pointer">{{topic.author.profile.displayname}}</a> {% if topic.author.groups.first %}• {{topic.author.groups.first}}{% endif %} • {{topic.created_at}}{% if topic.closed %} • Тема закрыта{% endif %}</span>
            </div>
        </div>
        <div class="h-full flex items-end">
            <ul class="flex space-x-2">
                {% if flag.can_close_topic %} 
                {% if not topic.closed %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'close' %}">{% csrf_token %}<button class="btn-secondary" type="submit" title="Закрыть тему"><i class="fa-solid fa-lock"></i></button></form></li>
                {% else %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'unclose' %}">{% csrf_token %}<button class="btn-secondary bg-amber-500" type="submit" title="Открыть тему"><i class="fa-solid fa-lock-open"></i></button></form></li> {% endif %}
                {% endif %}
                {% if flag.can_hide_topic %}
                {% if topic.visible %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'hide' %}">{% csrf_token %}<button class="btn-secondary" type="submit" title="Скрыть тему"><i class="fa-solid fa-eye-slash"></i></button></form></li>
                {% else %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'show' %}">{% csrf_token %}<button class="btn-secondary bg-amber-500" type="submit" title="Показать тему"><i class="fa-solid fa-eye"></i></button></form></li>{% endif %}
                {% endif %}
                {% if flag.can_pin_topic %}
                {% if not topic.pinned %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'pin' %}">{% csrf_token %}<button class="btn-secondary" type="submit" title="Закрепить тему"><i class="fa-solid fa-thumbtack"></i></button></form></li>
                {% else %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'unpin' %}">{% csrf_token %}<button class="btn-secondary bg-amber-500" type="submit" title="Открепить тему"><i class="fa-solid fa-thumbtack-slash"></i></button></form></li>{% endif %}
                {% endif %}
                {% if flag.can_delete_topic %}
                <li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'delete' %}" onsubmit="return confirm('Удалить тему?')">{% csrf_token %}<button class="btn-secondary hover:bg-amber-500" type="submit" title="Удалить тему"><i class="fa-solid fa-trash"></i></button></form></li>
                {% endif %}
            <ul>
        </div>
         <a href="{% url 'category' cat_slug=category.slug %}" class="btn-secondary">{{category.name}}</a>
    </div>
    <div class=" p-4 flex items-center justify-between">
        <div class="flex space-x-4 w-fit">
            
            <div class="flex flex-col justify-around">
                <a>{{topic.author.profile.displayname}}</a>
                <span class="{{topic.author.groups.first.profile.style}}">{{topic.author.groups.first}}</span>
            </div>
        </div>
        <a href="{% url 'topic' cat_slug=category.slug topic_id=topic.id %}" class="w-full h-full text-lg font-semibold p-4 mb-3 ">{{topic.title}}</a>
    </div>
    <div class="tb-block border-y-neutral-400 flex flex-col space-y-4 pt-4">
        {% if posts|length > 0 %}
            {% for post in posts %} 
            <div id="post-{{ post.obj.id }}" class="flex flex-col">
                <div class="px-2 rounded-t-lg flex items-center space-x-4 py-1
                    {% if post.obj.pinned %} post-t-pinned
                    {% elif post.obj.deleted %} post-t-deleted  
                    {% elif not post.obj.visible %} post-t-hidden  
                    {% else %} post-t {%endif%}"
                >
                    <div class="relative ml-1">
                        <div class="w-10 h-10 rounded-full overflow-hidden">
                            <img src="{{post.obj.author.profile.avatar.url}}" class="w-full h-full object-cover"/>
                        </div>
                        <div class="absolute flex items-center justify-center w-3 h-3 bg-neutral-600 right-0 bottom-1 rounded-full">
                            <div class="w-2 h-2 rounded-full 
                                {% if post.obj.author.profile.is_online %}bg-green-500
                                {% else %} bg-neutral-400 {% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="flex items-center justify-between mt-3">
                            <span class="text-sm">{{post.obj.author.profile.displayname}}{% if post.obj.author.groups.first %}<span class="text-neutral-400"> • {{post.obj.author.groups.first}}</span>{% endif %}</span>       
                        </div>
                        <div class="flex text-neutral-400 space-x-1 mb-2">
                            {% if post.obj.pinned %}<span><i class="fa-solid fa-thumbtack"></i> •</span>{% endif %}
                            {% if not post.obj.visible %}<span><i class="fa-solid fa-eye-slash"></i> •</span>{% endif %}
                            {% if post.obj.deleted %}<span><i class="fa-solid fa-trash"></i> •</span>{% endif %}
                            <span><i class="fa-solid fa-calendar mr-2"></i>{{post.obj.created_at}}</span>
                            {% if post.obj.edited %} <span>• <i class="fa-solid fa-pen-to-square mr-2"></i>{{post.obj.updated_at}}</span> {% endif %}
                        </div>
                    </div>
                    <div x-data="{ open:false }" class="relative self-start">
                        <div class="btn-trans flex items-start" @click="open = !open">
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                        <div
                        x-cloak
                        x-show="open"
                        @click.outside="open=false" 
                        x-transition 
                        x-collapse
                        class="absolute mt-2 w-50 bg-neutral-800 text-white rounded p-2 overflow-hidden right-0 top-5 z-10">
                            <ul class="flex flex-col space-y-1">
                                {% if flag.can_hide_post %}
                                    {% if post.obj.visible %}
                                        <li>
                                            <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'hide' %}">
                                                {% csrf_token %}
                                                <button class="btn-secondary w-full" title="Скрыть">
                                                    Скрыть
                                                </button>    
                                            </form>
                                        </li>
                                    {% else %}
                                        <li>
                                            <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'show' %}">
                                                {% csrf_token %}
                                                <button class="btn-secondary w-full" title="Показать">
                                                    Показать
                                                </button>    
                                            </form>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if flag.can_pin_post %}
                                    {% if post.obj.pinned %}
                                        <li>
                                            <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'unpin' %}">
                                                {% csrf_token %}
                                                <button class="btn-secondary w-full" title="Открепить">
                                                    Открепить
                                                </button>    
                                            </form>
                                        </li>
                                    {% else %}
                                        <li>
                                            <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'pin' %}">
                                                {% csrf_token %}
                                                <button class="btn-secondary w-full" title="Закрепить">
                                                    Закрепить
                                                </button>    
                                            </form>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if flag.can_edit_post %}
                                    <li>
                                        <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'edit' %}">
                                            {% csrf_token %}
                                            <button class="btn-secondary w-full" title="Редактировать">
                                                Редактировать
                                            </button>    
                                        </form>
                                    </li>
                                {% endif %}
                                {% if flag.can_delete_post %}
                                    <li>
                                        <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'delete' %}">
                                            {% csrf_token %}
                                            <button class="btn-secondary w-full hover:bg-amber-500" title="Удалить">
                                                Удалить
                                            </button>    
                                        </form>
                                    </li>
                                {% endif %}
                                {% if flag.can_delete_post and flag.can_really_delete_post %}
                                    <li>
                                        <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'true_delete' %}" onsubmit="return confirm('Окончательно удалить пост?')">
                                            {% csrf_token %}
                                            <button class="btn-secondary w-full hover:bg-red-600" title="Удалить">
                                                Удалить навсегда
                                            </button>    
                                        </form>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rounded-b-lg p-2
                    {% if post.obj.deleted %} post-b-deleted
                    {% elif not post.obj.visible %} post-b-hidden
                    {% else %} post-b {% endif %}"
                >
                    <div class="post-content">
                        {{post.obj.content|safe}}
                    </div>
                    <ul class="flex flex-row space-x-2 pt-4">
                        <li class="btn-secondary space-x-2 flex items-center"><span><i class="fa-solid fa-thumbs-up"></i></span><span>0</span></li>
                        <li class="btn-secondary space-x-2 flex items-center"><span><i class="fa-solid fa-comment"></i></span><span>Ответить</span></li>
                        <li class="btn-secondary space-x-2 flex items-center"><span><i class="fa-solid fa-link"></i></span><span>Ссылка</span></li>
                    </ul>
                </div>
            </div> 
            {% endfor %}
        {% else %}
            <div class="w-full text-center p-4">Скорее напиши первый пост в теме и не забывай соблюдать правила</div>
        {% endif %}
    </div>
            {% if flag.is_auth and flag.can_post%}
                {% if not topic.closed or flag.can_post_closed %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="p-4">
                            {{ form.content }}
                        </div>   
                        <div class="flex p-4 space-x-4">
                            <button class="btn-secondary" type="submit">Сохранить</button>
                        </div>
                        <p class="px-4 text-neutral-500">Перед тем как что-то написать, ознакомьтесь с правилами форума во избежание автоматической блокировки</p>
                    </form>
                {% elif topic.closed and not flag.can_post_closed %}
                    <div class="p-4">
                        Это обсуждение закрыто администратором 
                    </div>
                {% endif %}
            {% elif not flag.is_auth %}
                <div class="p-4 text-white flex space-x-3">
                    <a href="{% url 'login' %}" class="btn-secondary w-fit">Войди</a> <span>чтобы оставлять сообщения на форуме</span>
                </div>
            {% elif not flag.can_post %}
                <div class="p-4">
                    Администратор запретил вам оставлять сообщения на форуме 
                </div>
            {% endif %}
            <div class="flex items-center justify-between p-2">
                <div class="text-neutral-400">
                    Посты: {{posts_count}} • Страница {{posts.number}} из {{posts.paginator.num_pages}}
                </div>
                {% if posts.paginator.num_pages > 1 %}
                <div class="flex space-x-1">
                    {% if posts.number > 3 %}
                        <a href="?page=1"
                        class="btn-secondary"
                        title="Первая">
                            ⟪
                        </a>
                    {% endif %}
                    {% if posts.has_previous %}
                        <a href="?page={{posts.previous_page_number}}" class="btn-secondary">←</a>
                    {% endif %}
                    {% for num in posts.paginator.page_range %}
                        {% if num == posts.number %}
                            <span class="btn-secondary bg-neutral-900">
                                {{ num }}
                            </span>
                        {% elif num > posts.number|add:"-3" and num < posts.number|add:"3" %}
                            <a href="?page={{ num }}"
                            class="btn-secondary">
                                {{ num }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}"class="btn-secondary">
                            →
                        </a>
                    {% endif %}
                    {% if posts.number < posts.paginator.num_pages|add:"-2" %}
                        <a href="?page={{ posts.paginator.num_pages }}"
                        class="btn-secondary"
                        title="Последняя">
                            ⟫
                        </a>
                    {% endif %}
                </div>
                {% endif %}
            </div> {% endcomment %}
<script>
document.addEventListener('change', async (e) => {
  const btn = e.target.closest('input[data-category-slug]')
  if (!btn) return

  const categorySlug = btn.dataset.categorySlug
  const topicId = btn.dataset.topicId
  const postId = btn.dataset.postId

  const response = await fetch(
    `/forum/category/${categorySlug}/${topicId}/${postId}/like/`,
    {
      method: 'POST',
      headers: {
        'X-CSRFToken': getCookie('csrftoken'),
        'Accept': 'application/json'
      }
    }
  )

  if (!response.ok) return

  const data = await response.json()

 
  btn.checked = data.liked
})

function getCookie(name) {
  return document.cookie
    .split('; ')
    .find(row => row.startsWith(name + '='))
    ?.split('=')[1]
}
</script>
</div>
{% endblock data %}