{% extends 'layouts/forum.html' %}

<!--===========LOADS=============-->
<!--===========BLOCKS=============-->
{% block title %}
    user
{% endblock title %}


{% block description %}
    description
{% endblock description %}
    

{% block keywords %}
    keywords
{% endblock keywords %}

{% block extra %}
    {{ form.media }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'django_ckeditor_5/dark_theme.css' %}">

{% endblock %}
<!--===========CONTENT=============-->

{% block data %}
    <div class="tb-block flex-center-between">
        <div class="flex-center-between space-x-2">
            <i class="fa-solid fa-comment-dots text-neutral-400 text-2xl pr-4"></i>
            <a href="{% url 'forum' %}" class="text-neutral-400 hover:text-neutral-600 hover:underline h-full">Форум</a>
                <span class="select-none text-center text-neutral-500">/</span>
            <a href="{% url 'category' cat_slug=category.slug %}" class="hover:underline hover:text-neutral-600 text-neutral-400">{{category.name}}</a>
                <span class="select-none text-center text-neutral-500">/</span>
            <a href="{% url 'topic' cat_slug=category.slug topic_id=topic.id %}" class="text-neutral-400 hover:text-neutral-600 hover:underline">{{topic.title}}</a>
        </div>
        <div class="flex items-center space-x-4">
            {% comment %} <a href="#" class="btn-trans text-xl"><i class="fa-solid fa-magnifying-glass"></i></a> {% endcomment %}
            <div class="w-10 h-10 bg-transparent rounded-full overflow-hidden hover:border hover:border-neutral-600">
                <a  href="{% url 'user' topic.author.username %}" class="w-full h-full">
                    <img src="{{topic.author.profile.avatar.url}}" class="w-full h-full object-cover"/>
                </a>
            </div>
        </div>
    </div>
    <div class="text-neutral-50 flex items-center justify-between p-4 h-32">
        <div class="flex flex-col h-full justify-center space-y-4">
            <div class="text-2xl font-bold">
                {% if topic.pinned%}<i class="fa-solid fa-thumbtack pr-4"></i>{% endif %}{{topic.title}} 
            </div>
            <div class="text-neutral-400">
            <span>Автор: <a href="{% url 'user' topic.author.username %}" class="text-neutral-50 hover:underline cursor-pointer">{{topic.author.profile.displayname}}</a> {% if topic.author.groups %}• {{topic.author.groups.first}}{% endif %} • {{topic.created_at}}{% if topic.closed %} • Тема закрыта{% endif %}</span>
            </div>
        </div>
        <div class="h-full flex items-end">
            <ul class="flex space-x-2">
                {% if flag.can_close_topic %} 
                {% if not topic.closed %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'close' %}">{% csrf_token %}<button class="btn-secondary" type="submit" title="Закрыть тему"><i class="fa-solid fa-lock"></i></button></form></li>
                {% else %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'unclose' %}">{% csrf_token %}<button class="btn-secondary bg-amber-500" type="submit" title="Открыть тему"><i class="fa-solid fa-lock-open"></i></button></form></li> {% endif %}
                {% endif %}
                {% if flag.can_hide_topic %}
                {% if topic.visible %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'hide' %}">{% csrf_token %}<button class="btn-secondary" type="submit" title="Скрыть тему"><i class="fa-solid fa-eye-slash"></i></button></form></li>
                {% else %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'show' %}">{% csrf_token %}<button class="btn-secondary bg-amber-500" type="submit" title="Показать тему"><i class="fa-solid fa-eye"></i></button></form></li>{% endif %}
                {% endif %}
                {% if flag.can_pin_topic %}
                {% if not topic.pinned %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'pin' %}">{% csrf_token %}<button class="btn-secondary" type="submit" title="Закрепить тему"><i class="fa-solid fa-thumbtack"></i></button></form></li>
                {% else %}<li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'unpin' %}">{% csrf_token %}<button class="btn-secondary bg-amber-500" type="submit" title="Открепить тему"><i class="fa-solid fa-thumbtack-slash"></i></button></form></li>{% endif %}
                {% endif %}
                {% if flag.can_delete_topic %}
                <li><form method="post" action="{% url 'topic_edit' category.slug topic.id 'delete' %}" onsubmit="return confirm('Удалить тему?')">{% csrf_token %}<button class="btn-secondary hover:bg-amber-500" type="submit" title="Удалить тему"><i class="fa-solid fa-trash"></i></button></form></li>
                {% endif %}
            <ul>
        </div>
        {% comment %} <a href="{% url 'category' cat_slug=category.slug %}" class="btn-secondary">{{category.name}}</a>
    </div>
    <div class=" p-4 flex items-center justify-between">
        <div class="flex space-x-4 w-fit">
            
            <div class="flex flex-col justify-around">
                <a>{{topic.author.profile.displayname}}</a>
                <span class="{{topic.author.groups.first.profile.style}}">{{topic.author.groups.first}}</span>
            </div>
        </div>
        <a href="{% url 'topic' cat_slug=category.slug topic_id=topic.id %}" class="w-full h-full text-lg font-semibold p-4 mb-3 ">{{topic.title}}</a> {% endcomment %}
    </div>
    <div class="tb-block border-y-neutral-400 flex flex-col space-y-4 pt-4">
        {% if posts|length > 0 %}
            {% for post in posts %} 
            <div id="post-{{ post.obj.id }}" class="flex flex-col">
                <div class="px-2 rounded-t-lg flex items-center space-x-4 py-1
                    {% if post.obj.pinned %} post-t-pinned
                    {% elif post.obj.deleted %} post-t-deleted  
                    {% elif not post.obj.visible %} post-t-hidden  
                    {% else %} post-t {%endif%}"
                >
                    <div class="relative ml-1">
                        <div class="w-10 h-10 rounded-full overflow-hidden">
                            <img src="{{post.obj.author.profile.avatar.url}}" class="w-full h-full object-cover"/>
                        </div>
                        <div class="absolute flex items-center justify-center w-3 h-3 bg-neutral-600 right-0 bottom-1 rounded-full">
                            <div class="w-2 h-2 rounded-full 
                                {% if post.obj.author.profile.is_online %}bg-green-500
                                {% else %} bg-neutral-400 {% endif %}">
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="flex items-center justify-between mt-3">
                            <span class="text-sm">{{post.obj.author.profile.displayname}}{% if post.obj.author.groups %}<span class="text-neutral-400"> • {{post.obj.author.groups.first}}</span>{% endif %}</span>       
                        </div>
                        <div class="flex text-neutral-400 space-x-1 mb-2">
                            {% if post.obj.pinned %}<span><i class="fa-solid fa-thumbtack"></i> •</span>{% endif %}
                            {% if not post.obj.visible %}<span><i class="fa-solid fa-eye-slash"></i> •</span>{% endif %}
                            {% if post.obj.deleted %}<span><i class="fa-solid fa-trash"></i> •</span>{% endif %}
                            <span><i class="fa-solid fa-calendar mr-2"></i>{{post.obj.created_at}}</span>
                            {% if post.obj.edited %} <span>• <i class="fa-solid fa-pen-to-square mr-2"></i>{{post.obj.updated_at}}</span> {% endif %}
                        </div>
                    </div>
                    <div x-data="{ open:false }" class="relative self-start">
                        <div class="btn-trans flex items-start" @click="open = !open">
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                        <div
                        x-cloak
                        x-show="open"
                        @click.outside="open=false" 
                        x-transition 
                        x-collapse
                        class="absolute mt-2 w-50 bg-neutral-800 text-white rounded p-2 overflow-hidden right-0 top-5 z-10">
                            <ul class="flex flex-col space-y-1">
                                {% if flag.can_hide_post %}
                                    {% if post.obj.visible %}
                                        <li>
                                            <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'hide' %}">
                                                {% csrf_token %}
                                                <button class="btn-secondary w-full" title="Скрыть">
                                                    Скрыть
                                                </button>    
                                            </form>
                                        </li>
                                    {% else %}
                                        <li>
                                            <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'show' %}">
                                                {% csrf_token %}
                                                <button class="btn-secondary w-full" title="Показать">
                                                    Показать
                                                </button>    
                                            </form>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if flag.can_pin_post %}
                                    {% if post.obj.pinned %}
                                        <li>
                                            <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'unpin' %}">
                                                {% csrf_token %}
                                                <button class="btn-secondary w-full" title="Открепить">
                                                    Открепить
                                                </button>    
                                            </form>
                                        </li>
                                    {% else %}
                                        <li>
                                            <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'pin' %}">
                                                {% csrf_token %}
                                                <button class="btn-secondary w-full" title="Закрепить">
                                                    Закрепить
                                                </button>    
                                            </form>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if flag.can_edit_post %}
                                    <li>
                                        <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'edit' %}">
                                            {% csrf_token %}
                                            <button class="btn-secondary w-full" title="Редактировать">
                                                Редактировать
                                            </button>    
                                        </form>
                                    </li>
                                {% endif %}
                                {% if flag.can_delete_post %}
                                    <li>
                                        <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'delete' %}">
                                            {% csrf_token %}
                                            <button class="btn-secondary w-full hover:bg-amber-500" title="Удалить">
                                                Удалить
                                            </button>    
                                        </form>
                                    </li>
                                {% endif %}
                                {% if flag.can_delete_post and flag.can_really_delete_post %}
                                    <li>
                                        <form method="POST" action="{% url 'post' category.slug topic.id post.obj.id 'true_delete' %}" onsubmit="return confirm('Окончательно удалить пост?')">
                                            {% csrf_token %}
                                            <button class="btn-secondary w-full hover:bg-red-600" title="Удалить">
                                                Удалить навсегда
                                            </button>    
                                        </form>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rounded-b-lg p-2
                    {% if post.obj.deleted %} post-b-deleted
                    {% elif not post.obj.visible %} post-b-hidden
                    {% else %} post-b {% endif %}"
                >
                    <div class="post-content">
                        {{post.obj.content|safe}}
                    </div>
                    <ul class="flex flex-row space-x-2 pt-4">
                        <li class="btn-secondary space-x-2 flex items-center"><span><i class="fa-solid fa-thumbs-up"></i></span><span>0</span></li>
                        <li class="btn-secondary space-x-2 flex items-center"><span><i class="fa-solid fa-comment"></i></span><span>Ответить</span></li>
                        <li class="btn-secondary space-x-2 flex items-center"><span><i class="fa-solid fa-link"></i></span><span>Ссылка</span></li>
                    </ul>
                </div>
            </div> 
            {% endfor %}
        {% else %}
            <div class="w-full text-center p-4">Скорее напиши первый пост в теме и не забывай соблюдать правила</div>
        {% endif %}
    </div>
            {% if flag.is_auth and flag.can_post%}
                {% if not topic.closed or flag.can_post_closed %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="p-4">
                            {{ form.content }}
                        </div>   
                        <div class="flex p-4 space-x-4">
                            <button class="btn-secondary" type="submit">Сохранить</button>
                        </div>
                        <p class="px-4 text-neutral-500">Перед тем как что-то написать, ознакомьтесь с правилами форума во избежание автоматической блокировки</p>
                    </form>
                {% elif topic.closed and not flag.can_post_closed %}
                    <div class="p-4">
                        Это обсуждение закрыто администратором 
                    </div>
                {% endif %}
            {% elif not flag.is_auth %}
                <div class="p-4 text-white flex space-x-3">
                    <a href="{% url 'login' %}" class="btn-secondary w-fit">Войди</a> <span>чтобы оставлять сообщения на форуме</span>
                </div>
            {% elif not flag.can_post %}
                <div class="p-4">
                    Администратор запретил вам оставлять сообщения на форуме 
                </div>
            {% endif %}
            <div class="flex items-center justify-between p-2">
                <div class="text-neutral-400">
                    Посты: {{posts_count}} • Страница {{posts.number}} из {{posts.paginator.num_pages}}
                </div>
                {% if posts.paginator.num_pages > 1 %}
                <div class="flex space-x-1">
                    {% if posts.number > 3 %}
                        <a href="?page=1"
                        class="btn-secondary"
                        title="Первая">
                            ⟪
                        </a>
                    {% endif %}
                    {% if posts.has_previous %}
                        <a href="?page={{posts.previous_page_number}}" class="btn-secondary">←</a>
                    {% endif %}
                    {% for num in posts.paginator.page_range %}
                        {% if num == posts.number %}
                            <span class="btn-secondary bg-neutral-900">
                                {{ num }}
                            </span>
                        {% elif num > posts.number|add:"-3" and num < posts.number|add:"3" %}
                            <a href="?page={{ num }}"
                            class="btn-secondary">
                                {{ num }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}"class="btn-secondary">
                            →
                        </a>
                    {% endif %}
                    {% if posts.number < posts.paginator.num_pages|add:"-2" %}
                        <a href="?page={{ posts.paginator.num_pages }}"
                        class="btn-secondary"
                        title="Последняя">
                            ⟫
                        </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
{% endblock data %}