{% extends 'layouts/forum.html' %}

<!--===========LOADS=============-->
<!--===========BLOCKS=============-->
{% block title %}
    user
{% endblock title %}


{% block description %}
    description
{% endblock description %}
    

{% block keywords %}
    keywords
{% endblock keywords %}
    
<!--===========CONTENT=============-->

{% block data %}
<ul class="list bg-base-100 rounded-box shadow-sm">
        <li class="p-4 pb-2 text-sm opacity-60 tracking-wide breadcrumbs">
            <ul>
                <li><a href="{% url 'forum' %}">Форум</a></li>
                <li>{{category.name}}</li>
            </ul>
        </li>
{% if topics|length > 0 %}
   
        {% for topic in topics %}
            <li class="list-row hover:bg-base-300 transition-colors duration-300">
                <div class="text-4xl"><i class="{{topic.icon}}"></i></div>
                <a href="{% url 'topic' cat_slug=category.slug topic_id=topic.id%}">
                    {% comment %} <div>{{topic.title}}</div> {% endcomment %}
                    <div class="text-xs uppercase font-semibold opacity-80">{{topic.title}}</div>
                </a>
                <label class="swap btn btn-square btn-ghost">
                    <input type="checkbox"
                    data-category-slug="{{category.slug}}"
                    data-topic-id="{{topic.id}}"
                    {% if topic.is_liked %} checked {% endif %}/>
                    <i class="swap-off fa-regular fa-heart"></i>
                    <i class="swap-on fa-solid fa-heart"></i>
                </label>
                <div class="dropdown dropdown-end" x-data="{open:false}">
                    <button class="btn btn-square btn-ghost" @click="open = !open">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <ul class="menu menu-sm dropdown-content bg-base-200 p-4 rounded-box w-52" x-cloak x-show="open" x-transition @click.outside="open=false">
                        {% if topic.flag.can_close_topic %} 
                            {% if not topic.closed %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'close' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Закрыть тему</button>
                                    </form>
                                </li>
                            {% else %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'unclose' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Открыть тему</button>
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if topic.flag.can_hide_topic %}
                            {% if topic.visible %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'hide' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Скрыть</button>
                                    </form>
                                </li>
                            {% else %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'show' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Показать</button>
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if topic.flag.can_pin_topic %}
                            {% if not topic.pinned %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'pin' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Закрепить</button>
                                    </form>
                                </li>
                            {% else %}
                                <li>
                                    <form method="post" action="{% url 'topic_edit' category.slug topic.id 'unpin' %}">
                                        {% csrf_token %}
                                        <button class="" type="submit">Открепить</button>
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if topic.flag.can_delete_topic %}
                            <li><button class="" onclick="delete_topic_modal_{{ topic.id }}.showModal()">Удалить</button></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            
            <dialog id="delete_topic_modal_{{ topic.id }}" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg text-error">
            Удалить тему навсегда?
        </h3>

        <p class="py-4 text-sm opacity-80">
            Это действие нельзя отменить.
            Тема будет удалёна навсегда.
        </p>

        <div class="modal-action">
            <!-- Отмена -->
            <form method="dialog">
                <button class="btn btn-ghost">
                    Отмена
                </button>
            </form>

            <!-- Подтверждение -->
            <form
                method="POST"
                action="{% url 'topic_edit' category.slug topic.id 'delete' %}">
                {% csrf_token %}
                <button class="btn btn-error" onclick="create_topic_modal.showModal()">
                    Да, удалить
                </button>
            </form>
        </div>
    </div>
</dialog>
        {% endfor %}
    
{% else %}
    <li class="list-row">Тут пока нет тем...</li>
{% endif %}
{% if perms.forum_app.can_create_topic %}
        <!-- Кнопка открытия модалки -->
        <li class="list-row">
            <!-- Кнопка открытия модалки -->
        
            <button type="button"
                    class="btn btn-primary"
                    onclick="create_topic_modal.showModal()">
                Создать тему
            </button>

            <dialog id="create_topic_modal" class="modal">
                <div class="modal-box">
                    <h3 class="font-bold text-lg">
                        Создание темы
                    </h3>
                    <form
                            method="POST">
                            {% csrf_token %}
                        <label class="label">Название</label>
                        <label class="input w-full">
                            <i class="fa-solid fa-file-signature opacity-50"></i>
                            {{form.title}}
                        </label>
                        <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-64 border p-4">
                            <legend class="fieldset-legend">Настройки</legend>
                            <label class="label">
                                {{form.visible}}
                                Видимая
                            </label>
                            <label class="label">
                                 {{form.pinned}}
                                Закрепить
                            </label>
                            <label class="label">
                                {{form.closed}}
                                Тема закрыта
                            </label>
                        </fieldset>
                       <label class="label">
                            Иконка
                       </label>
                       <div class="grid grid-cols-6 gap-2 mt-4">
                            {% for value, label in form.fields.icon.choices %}
                                <label class="join-item btn">
                                    <input
                                        type="radio"
                                        name="{{ form.icon.name }}"
                                        value="{{ value }}"
                                        class="hidden peer"
                                        {% if form.icon.value == value %}checked{% endif %}
                                    >
                                    <i class="{{ value }} text-xs
                                    peer-checked:text-primary"></i>
                                </label>
                            {% endfor %}
                        </div>



                        <div class="modal-action">
                            <!-- Отмена -->
                            
                                <label class="btn btn-ghost" onclick="create_topic_modal.close()">
                                    Отмена
                                </label>
                        

                            <!-- Подтверждение -->
                            
                                <button class="btn btn-primary" type="submit">
                                    Сохранить
                                </button>
                            
                        </div>
                    </form>
                </div>
            </dialog>
        </li>

    {% endif %}
</ul>
    {% comment %} <div>
        <span class="w-full h-full text-white font-bold text-2xl p-4">{{category.name}}</span>
        <div class="flex flex-col md:flex-row items-center justify-between p-5" x-data="{open:false, btn:'Создать тему'}">
            <a href="{% url 'forum' %}" class="btn-secondary">Назад</a>
            {% if can_create_topic %}   
                <form x-show="open" x-cloak x-collapse method='POST' class="flex items-center justify-between space-x-5 w-full px-4">{% csrf_token %}<input type="text" name="topic_name" placeholder="Заголовок новой темы" class="text-input w-full" required/><button type="sublit" class="btn-secondary text-nowrap">Создать</button></form>
                <button class="btn-secondary w-fit text-nowrap" @click="open = !open; if (open) {btn = 'Закрыть'} else {btn = 'Создать тему'}" x-text="btn"></button>
            {% endif %}
        </div>
    </div>
    <div class="tb-block space-y-2">
        {% if topics|length > 0 %}
            {% for topic in topics %}
                <div class="bg-transparent rounded-lg border border-neutral-500 flex flex-col">
                    {% if topic.pinned or topic.closed %}
                    <div class="p-2 px-5 rounded-t-lg border-0 space-x-2
                        {% if topic.pinned %} post-t-pinned
                        {% elif topic.closed %} post-t-deleted
                        {% endif %}">
                        {% if topic.pinned%}<span><i class="fa-solid fa-thumbtack text-green-500/60 mr-2"></i> Закреплено </span>{% endif %}
                        {% if topic.closed %}<span><i class="fa-solid fa-lock text-red-500/60 mr-2"></i>Тема закрыта</span>{% endif %}
                    </div>
                    {% endif %}
                    <div class="flex w-full items-center justify-between">
                        <a href="{% url 'topic' cat_slug=category.slug topic_id=topic.id %}" class="flex w-full items-baseline justify-between rounded-md p-3 px-5 hover:bg-neutral-500/30">
                            <div class="flex flex-col space-y-2">
                                <div class="text-lg font-semibold">
                                    {{topic.title}}
                                </div>
                                <div class="flex space-x-3 items-center">
                                    <div class="w-10 h-10 rounded-full overflow-hidden">
                                        <img src={{topic.author.profile.avatar.url}} class="w-full h-full object-cover"/>
                                    </div>
                                    <div class="flex flex-col space-y-1">
                                        <span>{{topic.author.profile.displayname}}<span class="text-neutral-400"> • {{topic.created_at}}</span></span>
                                        {% if topic.get_posts.last %}<span class="text-neutral-400">{{topic.get_posts.last.author.profile.displayname}}: {{topic.get_posts.last.created_at}}</span>{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col space-y-3 text-neutral-400">
                                <span>Ответов: <span class="text-white">{{topic.get_posts|length}}</span></span>
                                <span>Просмотров: <span class="text-white">0</span></span>
                            </div>
                        </a>
                        <div class="self-start p-2 px-4">
                            <button class="btn-trans"><i class="fa-solid fa-ellipsis"></i></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            Категория пока пуста
        {% endif %}
    </div>
    <div class="text-neutral-400 p-3 flex items-center justify-between">
        <div>Темы: {{topics_count}} • Страница {{topics.number}} из {{topics.paginator.num_pages}}</div>
        {% if topics.paginator.num_pages > 1 %}
        <div class="flex space-x-1">
             {% if topics.number > 3 %}
                <a href="?page=1"
                class="btn-secondary"
                title="Первая">
                    ⟪
                </a>
            {% endif %}
            {% if topics.has_previous %}
                <a href="?page={{topics.previous_page_number}}" class="btn-secondary">←</a>
            {% endif %}
            {% for num in topics.paginator.page_range %}
                {% if num == topics.number %}
                    <span class="btn-secondary bg-neutral-900">
                        {{ num }}
                    </span>
                {% elif num > topics.number|add:"-3" and num < topics.number|add:"3" %}
                    <a href="?page={{ num }}"
                    class="btn-secondary">
                        {{ num }}
                    </a>
                {% endif %}
            {% endfor %}
            {% if topics.has_next %}
                <a href="?page={{ topics.next_page_number }}"class="btn-secondary">
                    →
                </a>
            {% endif %}
            {% if topics.number < topics.paginator.num_pages|add:"-2" %}
                <a href="?page={{ topics.paginator.num_pages }}"
                class="btn-secondary"
                title="Последняя">
                    ⟫
                </a>
            {% endif %}
        </div>
        {% endif %}
    </div> {% endcomment %}
    <script>
document.addEventListener('change', async (e) => {
  const btn = e.target.closest('input[data-category-slug]')
  if (!btn) return

  const categorySlug = btn.dataset.categorySlug
  const topicId = btn.dataset.topicId

  const response = await fetch(
    `/forum/category/${categorySlug}/${topicId}/like/`,
    {
      method: 'POST',
      headers: {
        'X-CSRFToken': getCookie('csrftoken'),
        'Accept': 'application/json'
      }
    }
  )

  if (!response.ok) return

  const data = await response.json()

 
  btn.checked = data.liked
})

function getCookie(name) {
  return document.cookie
    .split('; ')
    .find(row => row.startsWith(name + '='))
    ?.split('=')[1]
}
</script>
{% endblock %}