{% extends 'layouts/main.html' %}

<!--===========LOADS=============-->
<!--===========BLOCKS=============-->
{% block title %}
    user
{% endblock title %}


{% block description %}
    description
{% endblock description %}
    

{% block keywords %}
    keywords
{% endblock keywords %}
    
<!--===========CONTENT=============-->

{% block content %}

    <div class="w-full flex flex-col md:items-center md:p-7 space-y-7 md:h-full">
        <div class="w-full bg-transparent py-8 md:h-fit rounded-2xl z-1 text-black">
            {% block data %}{% endblock %}
        </div>
        
    </div>
{% endblock content %}
    