{% extends 'layouts/main.html' %}

<!--===========LOADS=============-->
<!--===========BLOCKS=============-->
{% block title %}
    user
{% endblock title %}


{% block description %}
    description
{% endblock description %}
    

{% block keywords %}
    keywords
{% endblock keywords %}
    
<!--===========CONTENT=============-->

{% block content %}
<div class="p-10 bg-base-200 min-h-screen">
    {% block data %}{% endblock %}
   
</div>
{% comment %} <script>
   const fab = document.getElementById("fab");

    window.addEventListener("scroll", () => {
        if (window.scrollY > 0) {
            fab.classList.remove("hidden");
        } else {
            fab.classList.add("hidden");
        }
    });window.addEventListener("scroll", () => {
    fab.classList.toggle("hidden", window.scrollY < 200);
    });
</script> {% endcomment %}
{% endblock content %}
    