{% extends 'layouts/main.html' %}

<!--===========LOADS=============-->
<!--===========BLOCKS=============-->
{% block title %}
    index
{% endblock title %}


{% block description %}
    description
{% endblock description %}
    

{% block keywords %}
    keywords
{% endblock keywords %}
    
<!--===========CONTENT=============-->

{% block content %}

<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Войти!</h1>
            <p class="py-6">
                Не отказывай себе в удовольствии — играй на последней надежде
            </p>
        </div>
        <div class="card bg-base-100 w-96">
            <div class="card-body">
                <form method="POST" action="" class="fieldset">
                    {% csrf_token %}
                    
                        <label class="label">Имя пользователя</label>
                        <label class="input validator w-full">
                            <i class="fa-regular fa-user opacity-50"></i>
                            {{ form.username }}
                        </label>
                        <label class="label">Пароль</label>
                        <label class="input validator w-full">
                            <i class="fa-solid fa-key opacity-50"></i>
                            {{ form.password }}
                        </label>
                        {% if form.non_field_errors %}
                            <div class="alert alert-error mb-4">
                                <ul>
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <a class="link link-hover">Забыл пароль?</a>
                    <button type="submit" class="btn btn-primary mt-4">Войти</button>
                </form>
                
                <p class="">Нет аккаунта? <a href="{% url 'register' %}" class="link link-hover link-secondary">Зарегистрироваться</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    