<!DOCTYPE html>
<html lang="ru">
<head>
    {% comment %} <!--=============META=============--> {% endcomment %}
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <!--=============TITLE=============--> {% endcomment %}
    <title>{% block title %}{% endblock %}</title>
    {% comment %} <!--=============LOADS=============--> {% endcomment %}
    {% load static %}
    {% load tailwind_tags%}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    {% tailwind_css %}
    <link href="{% static 'css/ckeditor.css' %}" rel="stylesheet">
    {% comment %} <!--============FONTS===============--> {% endcomment %}
    {% comment %} <script defer src="https://kit.fontawesome.com/c0a3216440.js" crossorigin="anonymous"></script> {% endcomment %}
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}"/>
    <!-- Font Awesome's core styling -->
    <link href="{% static 'vendor/fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <!-- individual Font Awesome icon styles - select just the ones you're using in your project -->
    <link href="{% static 'vendor/fontawesome/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome/css/solid.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome/css/sharp-thin.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome/css/duotone-thin.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome/css/sharp-duotone-thin.css' %}" rel="stylesheet">
    {% comment %} <link rel="preload"
      href="{% static 'fonts/fa/fa-solid-900.woff2' %}"
      as="font"
      type="font/woff2"
      crossorigin>
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}"> {% endcomment %}
    <!--============FAVICON=============-->
    <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml"/>
    {% comment %} <!--==============EXTRA=============--> {% endcomment %}
    {% block extra %}
    {% endblock %}
</head>
<body class="min-h-screen overflow-x-hidden">
    <div class="hidden checkbox-sm checkbox-primary textarea"></div>
    {% block layout_content %}
    {% endblock %}
    {% comment %} <!--===========SCRIPT==============--> {% endcomment %}
    {% comment %} <script type="module" src="{% static 'js/tiptap.js' %}"></script> {% endcomment %}
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.15.0/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.0/dist/cdn.min.js"></script>
</body>    
</html>
<!--Закрой и не балуйся-->