{% extends 'layouts/layout.html' %}

{% block extra%}
{% endblock%}

{% block layout_content %}
    <div id="app" class="flex flex-col min-h-screen">
        <header class="flex md:flex-nowrap justify-between items-center tb-block py-1 mt-4 text-white z-11">         
            <div class="p-3 px-5 text-xl font-bold select-none md:text-nowrap w-fit"><i class="fa-solid fa-pepper-hot mr-2 text-neutral-500"></i>Последняя надежда V34</div>
            <button id="burger_btn" class="block p-2 px-3 rounded-xl hover:bg-sky-500 md:hidden"><i class="fa-solid fa-bars text-2xl"></i></button>
            <div id="burger_menu" class="opacity-0 top-0 left-0 z-50 mt-20 transform translate-y-full fixed pointer-events-none transition-all duration-300 bg-sky-900 md:bg-transparent rounded-xl w-full text-2xl text-center md:opacity-100 md:mt-0 flex flex-col-reverse md:flex-row md:items-center md:justify-between md:pointer-events-auto md:text-xl md:w-full md:top-auto md:left-auto md:transform-none md:relative md:translate-0">
                <ul class="w-full md:w-fit flex-wrap md:flex-nowrap md:flex flex-col md:flex-row justify-center md:justify-between items-center md:space-x-4 space-y-4 md:space-y-0">
                    <li><a class="{% if request.path == '/' %} btn-header__active after:w-full {% endif %} btn-header relative inline-block
                        after:absolute after:left-1/2 after:bottom-0
                        after:h-[1px] after:w-0
                        after:-translate-x-1/2
                        after:bg-white
                        after:transition-all after:duration-200
                        hover:after:w-full" href="{% url 'main' %}">Главная</a></li>
                    <li><a class="{% if request.path|slice:':7' == '/forum/' %} btn-header__active after:w-full {% endif %} btn-header relative inline-block
                        after:absolute after:left-1/2 after:bottom-0
                        after:h-[1px] after:w-0
                        after:-translate-x-1/2
                        after:bg-white
                        after:transition-all after:duration-200
                        hover:after:w-full" href="{% url 'forum' %}">Форум</a></li>
                    <li><a class="{% if request.path == '/news/' %}btn-header__active after:w-full {% endif %}  btn-header relative inline-block
                        after:absolute after:left-1/2 after:bottom-0
                        after:h-[1px] after:w-0
                        after:-translate-x-1/2
                        after:bg-white
                        after:transition-all after:duration-200
                        hover:after:w-full" href="{% url 'news' %}">Новости</a></li>
                    <li><a class="{% if request.path == '/help/' %}btn-header__active after:w-full {% endif %} btn-header relative inline-block
                        after:absolute after:left-1/2 after:bottom-0
                        after:h-[1px] after:w-0
                        after:-translate-x-1/2
                        after:bg-white
                        after:transition-all after:duration-200
                        hover:after:w-full" href="{% url 'help' %}">Помощь</a></li>
                </ul>
                {% if not user.is_authenticated %}
                    <ul class="
                    w-full 
                    md:w-fit
                    flex-wrap 
                    md:flex 
                    flex-col 
                    md:flex-row 
                    justify-between
                    items-center 
                    space-x-1
                    space-y-4
                    md:space-y-0
                    mt-4
                    md:mt-0">
                        <li><a class="{% if request.path == '/user/login' %} btn-header__active after:w-full {% endif %} btn-header relative inline-block
                        after:absolute after:left-1/2 after:bottom-0
                        after:h-[1px] after:w-0
                        after:-translate-x-1/2
                        after:bg-white
                        after:transition-all after:duration-200
                        hover:after:w-full" href="{% url 'login' %}">Вход</a></li>              
                    </ul>
                {% else %}
                    <div class="flex md:space-x-4 flex-col-reverse md:space-y-0 md:flex-row space-y-reverse space-y-4 mt-4 pr-4 md:mt-0 justify-center">
                        {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}" class="btn-trans"><i class="fa-solid fa-hammer"></i></a>
                        {% endif %}
                        <a href="{% url 'notifications' user.username %}" class="btn-trans relative"><i class="fa-solid fa-bell"></i>{% if notifications_unread %}<div class="bg-red-400 w-2.5 h-2.5 absolute rounded-full top-3 right-2"></div>{% endif %}</a>
                        <a href="{% url 'user' user.username %}" class="rounded-full bg-transparent mx-auto flex flex-row items-center"><div class="bg-transparent rounded-full w-10 h-10 overflow-hidden hover:border hover:border-neutral-600"><img src="{{user.profile.avatar.url}}" class="w-full h-full object-cover"/></div></a>
                    </div>
                     {% comment %} <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="
                        p-1 
                        px-3 
                        rounded-xl
                        w-full
                        cursor-pointer
                        mt-4
                        md:mt-0 
                hover:bg-sky-500" type="submit">Выйти</button>
                    </form> {% endcomment %}
                {% endif %}
            </div>
        </header>
        <main class="text-white" style="flex: 1 1 auto;">
            
            {% block content %}
                
            {% endblock %}
    
        </main>
        <footer class="
        bg-transparent
        text-white
        border-t
        border-t-neutral-500
        p-6
        px-10
        z-10">
            <div class="
            flex
            flex-col
            w-full
            text-center
            md:text-left
            md:flex-row
            md:items-center
            md:justify-between">
                
                <script>
                    document.addEventListener('click', function (e) {
                    const el = e.target.closest('[data-copy]');
                    if (!el) return;

                    const text = el.dataset.copy;
                    if (!text) return;

                    navigator.clipboard.writeText(text)
                        .then(() => {
                            el.classList.add('opacity-70');

                            // визуальный фидбек
                            const oldText = el.textContent;
                            el.textContent = 'Скопировано';

                            setTimeout(() => {
                                el.textContent = oldText;
                                el.classList.remove('opacity-70');
                            }, 1000);
                        })
                        .catch(() => {
                            alert('Не удалось скопировать');
                        });
                });
                </script>
                <div class="border-r border-r-neutral-500 w-1/2 h-full flex flex-col space-y-4">
                    <div class="text-xl font-bold select-none md:text-nowrap w-fit"><i class="fa-solid fa-pepper-hot mr-2 text-neutral-500"></i>Последняя надежда V34</div>
                    <span class="text-neutral-500">© 2026 Все права защищены</span>
                </div>
                <div class="w-1/2 h-full flex flex-col space-y-4 pl-10">
                    <div class="text-neutral-500">
                        IP Сервера: 46.174.49.39:27228
                    </div>
                    <div class="text-neutral-500">
                        Telegram: <a class="text-sky-600 hover:underline cursor-pointer">@lasthopecssv34</a>
                    </div>
                </div>
                {% comment %} <ul class="*:mt-3.5 md:*:mt-0">
                    {% for obj in footer_info %}
                        <li>
                        {% if obj.action_type == 'copy' %}
                            <button data-copy="{{ obj.copy_data }}" class="hover:underline cursor-pointer" title="Скопировать">{{obj.data}}</button>
                        {% elif obj.action_type == 'link' %}
                            <a href="{{ obj.link_data }}" class="hover:underline cursor-pointer">{{obj.data}}</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul> {% endcomment %}
            </div>
            {% comment %} <div class="
            w-full
            text-center
            mt-5">
                <span>"ПОСЛЕДНЯЯ НАДЕЖДА V34" © 2026</span>
            </div> {% endcomment %}
        </footer>
    </div>
{% endblock %}