{% extends 'layouts/layout.html' %}

{% block extra%}
{% endblock%}

{% block layout_content %}
    {% load static %}
    <div id="app" class="flex flex-col min-h-screen">
        <header class="navbar shadow-sm bg-base-100 z-1">
            <div class="navbar-start">
                <div class="dropdown">
                    <button tabindex="0" class="btn btn-ghost btn-circle"><i class="fa-solid fa-bars text-xl"></i></button>
                    <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-2 shadow">
                        <li><a href="{% url 'forum' %}">Форум</a></li>
                        <li><a href="{% url 'news' %}">Новости</a></li>
                        <li><a href="{% url 'help' %}">Помощь</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'user' request.user.username %}">Профиль</a></li>
                        {%endif%}
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">Админка</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="navbar-center">
                <div class="tooltip tooltip-bottom">
                    <div class="tooltip-content">
                        <div class="animate-bounce text-2xl font-black -rotate-6">
                            <span class="text-rotate duration-1500">
                                <span class="justify-items-center">
                                    <span>Тюрьма!</span>
                                    <span>Играй!</span>
                                    <span>Донать!</span>
                                    <span>CS:S!</span>
                                    <span>Лучший!</span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="indicator indicator-start">
                        <span class="indicator-item badge badge-sm badge-primary -rotate-12">BETA</span>
                        <a href="{% url 'main' %}" class="cursor-pointer text-xl flex items-start font-bold">
                            <img src="{% static 'logo.svg' %}" alt="LastHope v34" class="w-35"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end space-x-4 pr-5">
                {% comment %} <div class="dropdown dropdown-end">
                    <div class="tooltip tooltip-bottom" data-tip="Поиск">
                        <button tabindex="0" class="btn btn-ghost btn-circle"><i class="fa-solid fa-magnifying-glass text-lg"></i></button>
                    </div>
                    <div tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-2 shadow">
                        <input type="text" placeholder="Поиск..." name="search" class="input"/>
                    </div>
                </div> {% endcomment %}
                {% if user.is_authenticated %}
                    <div class="dropdown dropdown-end">
                        <div class="tooltip tooltip-bottom" data-tip="Уведомления">
                            <button tabindex="0" class="btn btn-ghost btn-circle"><i class="fa-solid fa-bell text-lg"></i></button>
                        </div>
                        <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-3 shadow">
                            <li>Уведомлений пока нет</li>
                        </ul>
                    </div>
                {% else %}
                    <div class="tooltip tooltip-bottom" data-tip="Вход">
                        <a href="{% url 'login' %}" class="btn btn-ghost btn-circle"><i class="fa-solid fa-right-to-bracket text-lg"></i></a>
                    </div>
                {% endif %}
            </div>
        </header>
        {% comment %} <header class="flex md:flex-nowrap justify-between items-center tb-block py-1 mt-4 text-white z-11">         
            <div class="p-3 px-5 text-xl font-bold select-none md:text-nowrap w-fit"><i class="fa-solid fa-pepper-hot mr-2 text-neutral-500"></i>Последняя надежда V34</div>
            <button id="burger_btn" class="block p-2 px-3 rounded-xl hover:bg-sky-500 md:hidden"></button>
            <div id="burger_menu" class="opacity-0 top-0 left-0 z-50 mt-20 transform translate-y-full fixed pointer-events-none transition-all duration-300 bg-sky-900 md:bg-transparent rounded-xl w-full text-2xl text-center md:opacity-100 md:mt-0 flex flex-col-reverse md:flex-row md:items-center md:justify-between md:pointer-events-auto md:text-xl md:w-full md:top-auto md:left-auto md:transform-none md:relative md:translate-0">
                <ul class="w-full md:w-fit flex-wrap md:flex-nowrap md:flex flex-col md:flex-row justify-center md:justify-between items-center md:space-x-4 space-y-4 md:space-y-0">
                    <li><a class="{% if request.path == '/' %} btn-header__active after:w-full {% endif %} btn-header relative inline-block
                        after:absolute after:left-1/2 after:bottom-0
                        after:h-[1px] after:w-0
                        after:-translate-x-1/2
                        after:bg-white
                        after:transition-all after:duration-200
                        hover:after:w-full" href="{% url 'main' %}">Главная</a></li>
                    <li><a class="{% if request.path|slice:':7' == '/forum/' %} btn-header__active after:w-full {% endif %} btn-header relative inline-block
                        after:absolute after:left-1/2 after:bottom-0
                        after:h-[1px] after:w-0
                        after:-translate-x-1/2
                        after:bg-white
                        after:transition-all after:duration-200
                        hover:after:w-full" href="{% url 'forum' %}">Форум</a></li>
                    <li><a class="{% if request.path == '/news/' %}btn-header__active after:w-full {% endif %}  btn-header relative inline-block
                        after:absolute after:left-1/2 after:bottom-0
                        after:h-[1px] after:w-0
                        after:-translate-x-1/2
                        after:bg-white
                        after:transition-all after:duration-200
                        hover:after:w-full" href="{% url 'news' %}">Новости</a></li>
                    <li><a class="{% if request.path == '/help/' %}btn-header__active after:w-full {% endif %} btn-header relative inline-block
                        after:absolute after:left-1/2 after:bottom-0
                        after:h-[1px] after:w-0
                        after:-translate-x-1/2
                        after:bg-white
                        after:transition-all after:duration-200
                        hover:after:w-full" href="{% url 'help' %}">Помощь</a></li>
                </ul>
                {% if not user.is_authenticated %}
                    <ul class="
                    w-full 
                    md:w-fit
                    flex-wrap 
                    md:flex 
                    flex-col 
                    md:flex-row 
                    justify-between
                    items-center 
                    space-x-1
                    space-y-4
                    md:space-y-0
                    mt-4
                    md:mt-0">
                        <li><a class="{% if request.path == '/user/login' %} btn-header__active after:w-full {% endif %} btn-header relative inline-block
                        after:absolute after:left-1/2 after:bottom-0
                        after:h-[1px] after:w-0
                        after:-translate-x-1/2
                        after:bg-white
                        after:transition-all after:duration-200
                        hover:after:w-full" href="{% url 'login' %}">Вход</a></li>              
                    </ul>
                {% else %}
                    <div class="flex md:space-x-4 flex-col-reverse md:space-y-0 md:flex-row space-y-reverse space-y-4 mt-4 pr-4 md:mt-0 justify-center">
                        {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}" class="btn-trans"><i class="fa-solid fa-hammer"></i></a>
                        {% endif %}
                        <a href="{% url 'notifications' user.username %}" class="btn-trans relative"><i class="fa-solid fa-bell"></i>{% if notifications_unread %}<div class="bg-red-400 w-2.5 h-2.5 absolute rounded-full top-3 right-2"></div>{% endif %}</a>
                        <a href="{% url 'user' user.username %}" class="rounded-full bg-transparent mx-auto flex flex-row items-center"><div class="bg-transparent rounded-full w-10 h-10 overflow-hidden hover:border hover:border-neutral-600"><img src="{{user.profile.avatar.url}}" class="w-full h-full object-cover"/></div></a>
                    </div>
                     {% comment %} <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="
                        p-1 
                        px-3 
                        rounded-xl
                        w-full
                        cursor-pointer
                        mt-4
                        md:mt-0 
                hover:bg-sky-500" type="submit">Выйти</button>
                    </form> 
                {% endif %}
            </div>
        </header> {% endcomment %}
        <main class="flex-auto">
            
            {% block content %}
                
            {% endblock %}
    
        </main>
        <footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10">
            <nav class="grid grid-flow-col gap-4">
                <a href="{% url 'about' %}" class="link link-hover">О нас</a>
                <a href="{% url 'contacts' %}" class="link link-hover">Контакты</a>
                <a href="{% url 'job' %}" class="link link-hover">Работа</a>
            </nav>
            <nav>
                <div class="grid grid-flow-col gap-4">
                <div class="tooltip tooltip-bottom" data-tip="46.174.49.39:27228">
                    <a class="btn btn-ghost btn-circle">
                        <i class="fa-solid fa-i"></i>
                        <i class="fa-solid fa-p -ml-2"></i>
                    </a>
                </div>
                <div class="tooltip tooltip-bottom" data-tip="@lasthopecssv34">
                    <a href="https://t.me/lasthopecssv34" class="btn btn-ghost btn-circle">
                        <i class="fa-brands fa-telegram text-xl"></i>
                    </a>
                </div>
                </div>
            </nav>
            <aside>
                <p>Copyright © {% now 'Y' %} - Все права защищены</p>
            </aside>
        </footer>
        {% comment %} <div class="lg:hidden dock dock-sm">
            <button>    
               <i class="fa-solid fa-comments"></i>
            </button>
            
            <button>
                <i class="fa-solid fa-newspaper"></i>
            </button>
            
            <button>
                <i class="fa-solid fa-circle-question"></i>
            </button>

            <button>
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div> {% endcomment %}
         {% comment %} <div class="fab right-15 bottom-10"
        x-cloak
        x-data="{show:false}"
        x-show="show"
        x-transition
        @scroll.window="show = window.scrollY > 200">
            <button class="btn btn-lg btn-circle btn-primary" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M342.6 105.4C330.1 92.9 309.8 92.9 297.3 105.4L137.3 265.4C124.8 277.9 124.8 298.2 137.3 310.7C149.8 323.2 170.1 323.2 182.6 310.7L320 173.3L457.4 310.6C469.9 323.1 490.2 323.1 502.7 310.6C515.2 298.1 515.2 277.8 502.7 265.3L342.7 105.3zM502.6 457.4L342.6 297.4C330.1 284.9 309.8 284.9 297.3 297.4L137.3 457.4C124.8 469.9 124.8 490.2 137.3 502.7C149.8 515.2 170.1 515.2 182.6 502.7L320 365.3L457.4 502.6C469.9 515.1 490.2 515.1 502.7 502.6C515.2 490.1 515.2 469.8 502.7 457.3z"/></svg>
            </button>
        </div> {% endcomment %}
        {% comment %} <footer class="
        bg-transparent
        text-white
        border-t
        border-t-neutral-500
        p-6
        px-10
        z-10">
            <div class="
            flex
            flex-col
            w-full
            text-center
            md:text-left
            md:flex-row
            md:items-center
            md:justify-between">
                
                <script>
                    document.addEventListener('click', function (e) {
                    const el = e.target.closest('[data-copy]');
                    if (!el) return;

                    const text = el.dataset.copy;
                    if (!text) return;

                    navigator.clipboard.writeText(text)
                        .then(() => {
                            el.classList.add('opacity-70');

                            // визуальный фидбек
                            const oldText = el.textContent;
                            el.textContent = 'Скопировано';

                            setTimeout(() => {
                                el.textContent = oldText;
                                el.classList.remove('opacity-70');
                            }, 1000);
                        })
                        .catch(() => {
                            alert('Не удалось скопировать');
                        });
                });
                </script>
                <div class="border-r border-r-neutral-500 w-1/2 h-full flex flex-col space-y-4">
                    <div class="text-xl font-bold select-none md:text-nowrap w-fit"><i class="fa-solid fa-pepper-hot mr-2 text-neutral-500"></i>Последняя надежда V34</div>
                    <span class="text-neutral-500">© 2026 Все права защищены</span>
                </div>
                <div class="w-1/2 h-full flex flex-col space-y-4 pl-10">
                    <div class="text-neutral-500">
                        IP Сервера: 46.174.49.39:27228
                    </div>
                    <div class="text-neutral-500">
                        Telegram: <a class="text-sky-600 hover:underline cursor-pointer">@lasthopecssv34</a>
                    </div>
                </div> {% endcomment %}
                {% comment %} <ul class="*:mt-3.5 md:*:mt-0">
                    {% for obj in footer_info %}
                        <li>
                        {% if obj.action_type == 'copy' %}
                            <button data-copy="{{ obj.copy_data }}" class="hover:underline cursor-pointer" title="Скопировать">{{obj.data}}</button>
                        {% elif obj.action_type == 'link' %}
                            <a href="{{ obj.link_data }}" class="hover:underline cursor-pointer">{{obj.data}}</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            {% comment %} <div class="
            w-full
            text-center
            mt-5">
                <span>"ПОСЛЕДНЯЯ НАДЕЖДА V34" © 2026</span>
            </div> {% endcomment %}
        {% comment %} </footer> {% endcomment %}
    </div>
{% endblock %}