{% extends 'layouts/main.html' %}

<!--===========LOADS=============-->
<!--===========BLOCKS=============-->
{% block title %}
    Главная | LastHope v34
{% endblock title %}


{% block description %}
    Главная страница сайта-форума для сервера "ТЮРЬМА ПОСЛЕДНЯЯ НАДЕЖДА v34" в игре Counter Strike: Source v34 (12+)
{% endblock description %}
    

{% block keywords %}
    CSS, CSSV34, jail, last hope, last hope v34, последняя, надежда, последняя надежда, v34, V34, тюрьма, Counter Strike, cs, CS, Source, Counter-Strike, Counter-Strike:Source
{% endblock keywords %}
    
<!--===========CONTENT=============-->

{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
        const imgs = document.querySelectorAll("img.progressive");
        imgs.forEach(img => {
            const full = img.dataset.src;
            const tmp = new Image();
            tmp.onload = () => {
                img.src = full;
                img.classList.remove('blur-xl');
                img.classList.remove('scale-110');
            };
            tmp.src = full;
            });
        });
    </script>
    <div class="hero min-h-screen -mt-17 relative z-0" style="background-image: url({{banner.image.url}})">
        <div class="hero-overlay"></div>
        <div class="hero-content text-neutral-content text-center">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold flex justify-center">LastHope <span class="text-secondary text-lg self-start">v34</span></h1>
                <p class="mb-5">
                    Добро пожаловать на форум сервера «Последняя надежда» в Counter-Strike:Source v34. 
                    Тут ты найдешь много полезной информации и сможешь весело провести время.
                </p>
                <a href="{% url 'forum' %}" class="btn btn-primary">К общению</a>
            </div>
        </div>
        <div class="absolute bottom-0"><i class="fa-solid fa-angles-down text-5xl opacity-50 animate-bounce text-secondary"></i></div>
    </div>
    <div class="p-10 flex space-x-10">
        <div class="w-full bg-base-200 card">
            <h2 class="card-title p-5">Топ лучших участников форума</h2>
            <ul class="card-body list">
                <li class="list-row">

                </li>
            </ul>
        </div>
        {% if polls %}
        <ul class="list w-1/3">
            {% for poll in polls %}
                <li class="list-row flex">
                    <div class="card bg-base-200 w-full">
                        <div class="card-title p-4">{{poll.poll.title}}</div>
                        <div class="card-body">
                            {% if user.is_authenticated %}
                                {% if poll.can_vote %}
                                    <form method="post" class="fieldset space-y-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="poll_id" value="{{ poll.poll.id }}">
                                        {% for option in poll.form.options %}
                                            <label class="label cursor-pointer gap-3">
                                                {{ option.tag }}
                                                {{option.choice_label}}
                                            </label>     
                                        {% endfor %}
                                        <button class="btn btn-neutral mt-4">Голосовать</button>
                                    </form>
                                {% else %}
                                    {% for item in poll.items %}
                                        <div class="fieldset">
                                            <label class="flex justify-between text-sm label">
                                                <span class="{% if item.is_winner %} badge badge-primary {% endif %}">{{ item.text }}</span>
                                                <span>{{ item.percent }}%</span>
                                            </label>

                                            <progress class="progress progress-primary" value="{{item.percent}}" max="100"></progress>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                <p><a href="{% url 'login' %}" class="link link-hover text-secondary">Войди</a> чтобы принять участие в голосовании</p>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% if rules %}
        <div class="p-10">
            <div class="card bg-base-200">
                <p class="card-title p-5">Правила форума</p>
                <ol class="card-body list">
                {% for rule in rules%}
                    <li class="list-row">{{rule.text}}</li>
                {% endfor %}
                </ol>
            </div>
        </div>
    {% endif %}

{% endblock content %}
    