<!DOCTYPE html>
<html lang="ru">
<head>
    {% comment %} <!--=============META=============--> {% endcomment %}
    <meta charset="utf-8">
    <meta name="description" content="500">
    {% comment %} <meta name="keywords" content=""> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <!--=============TITLE=============--> {% endcomment %}
    <title>500 | LastHope v34</title>
   
    <script defer src="https://kit.fontawesome.com/c0a3216440.js" crossorigin="anonymous"></script>
    <!--============FAVICON=============-->
    <link rel="icon" href="" type="image/svg+xml"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="min-h-screen overflow-x-hidden">
    <div class="min-w-screen min-h-screen flex items-center justify-center">
        <div class="hero-content text-center">
            <div class="max-w-4xl">
                <div class="p-10"><h1 class="mb-5 text-5xl font-bold flex justify-center select-none">LastHope <span class="text-secondary text-lg self-start">v34</span></h1></div>
                <div class="text-9xl flex flex-wrap justify-center space-x-10"><i class="fa-solid fa-5"></i><i class="fa-solid fa-0"></i><i class="fa-solid fa-2"></i><i class="fa-regular fa-face-dizzy text-secondary"></i></div>
                <p class="p-10">У нас что-то сломалось. Скоро все починим, никуда не уходи.</p>
            <div>
        </div>
    </div>
</body>    
</html>